production:
  adapter: mysql2
  encoding: utf8
  database: production
  pool: 5
  username: vagrant
  password: vagrant
  socket: /var/run/mysqld/mysqld.sock
development: &production
  database: development
test: &production
  database: test
